html {
    border-radius: 5px;
}

nav {
    -webkit-app-region: drag;
}

nav a {
    -webkit-app-region: no-drag;
}

.tickercontainer {
    background: #242424;
    width: 100%;
    border-radius: 5px;
}

ul.newsticker li {
    color: #eee;
    text-shadow: 0 0 2pt #1b2c5c;
}

.up {
    color: #aaeaaa;
    text-shadow: 0 0 2pt #327232;
}

.down {
    color: #ff7272;
    text-shadow: 0 0 2pt #aa0000;
}