#stockTicker {
    overflow: hidden;
    /*width: 450px;*/
    height: 24px;
    border: 1px solid #999;
}

#stockTicker .inner {
    width: 9999px;
}

#stockTicker ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#stockTicker li {
    display: inline-block;
    margin-right: 8px;   
}
#stockTicker .symbol {
    font-weight: bold;
}

#stockTicker .change {
    font-style: italic;
}