<div class="container">
    <script>
        window.resizeTo(750, 820);
    </script>
    <div class="page-header">
        <h1>About</h1>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Description</div>
        <div class="panel-body">
            <p>
                Ticker Tape is an AngularJS app that interfaces with the Yahoo Finance API
                to simulate the ticker tapes found on Wall Street.
            </p>
            <p>
                The app uses local storage to allow the user to save a list of tickers (i.e. a portfolio).
            </p>
        </div>
    </div>
    <div class="panel panel-primary">
        <div class="panel-heading">Credit</div>
        <div class="panel-body">
            <h3>Jon Mifsuf for jQuery WebTicker</h3>
            <ul>
                <li><a href="http://creativecommons.org/licenses/by-nc/3.0/legalcode">Creative Commons Attribution-NonCommercial 3.0 Unported License</a></li>
                <li><a href="http://jonmifsud.com/open-source/jquery/jquery-webticker/">Website</a></li>
                <li><a href="https://github.com/jonmifsud/Web-Ticker">GitHub</a></li>
            </ul>
            <h3>David Sanchez for Delkos Brackets Theme</h3>
            <p>
                Inspiration for ticker css colors.
            </p>
            <ul>
                <li><a href="https://github.com/David5i6/Brackets-Delkos-Dark-Theme">GitHub</a></li>
            </ul>
        </div>
    </div>
    <a href="#ticker" class="btn btn-primary">Back</a>
</div>